@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


p, span, button, input, div {
  font-family: 'Mochiy Pop P One', 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFBFE;
  color: #090C08;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  padding: 20px;
  background-color: #FFFBFE;
  color: #090C08;
  text-align: center;
  border-bottom: 2px solid #090C08;
}

.header-title {
  font-size: 2em;
  font-weight: bold;
}

.navbar-and-arrow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #FFFBFE;
}

.navbar button {
  background-color: #FFFBFE;
  border: 2px solid #090C08;
  padding: 10px 20px;
  margin: 5px;
  color: #090C08;
  font-size: 1em;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.navbar button:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.navbar button:active {
  transform: scale(0.98);
}

.arrow {
  background-color: #FFFBFE;
  color: #090C08;
  border: 2px solid #090C08;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.arrow:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.arrow:active {
  transform: scale(0.98);
}

.content {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: #FFFBFE;
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.5em;
  }
}
