/* Container bazar */
.bazar-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    box-sizing: border-box;
}

.filtre-container {
    display: flex;
    flex-direction: column;
}

.p-filtre-container {
    display: flex;
    flex-direction: row;
    flex: 0;
}

.actual-filters {
    display: flex;
    flex-direction: row;
}

.searchbar-container, .p-filtre-container, .input-pret-container {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.categorii-container, .pret-container, .sortare-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}
