.CreeazaAnunt-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 400px;
    box-sizing: border-box;
    overflow: hidden;
}

.CreeazaAnunt-container-left, .CreeazaAnunt-container-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.CreeazaAnunt-container-imagine {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CreeazaAnunt-imagine-profil {
    display: block;
    margin: 0 auto;
}

.CreeazaAnunt-rezultate-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.input-buton-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .CreeazaAnunt-Container {
        flex-direction: column;
        align-items: center;
    }

    .CreeazaAnunt-container-left, .CreeazaAnunt-container-right {
        width: 100%;
    }
}
