*,
*::before,
*::after {
  box-sizing: border-box;
}

.ForumurileMele-container {
  padding: 20px;
  background-color: #FFFBFE;
  color: #090C08;
}

.ForumurileMele-forumsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.ForumurileMele-forumCard {
  padding: 15px;
  border: 2px solid #090C08;
  border-radius: 15px;
  background-color: #FFFBFE;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-forumCard:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-forumTitle {
  margin-bottom: 10px;
}

.ForumurileMele-forumTitle p {
  margin: 0;
}

.ForumurileMele-forumTitle input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #090C08;
  border-radius: 15px;
  background-color: #FFFBFE;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-forumTitle input:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-changeTitleButton {
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #090C08;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #FFFBFE;
  color: #090C08;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-statusButton-Deschis, .ForumurileMele-statusButton-Inchis{
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #090C08;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #090C08;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-statusButton-Deschis {
  color:rgb(84, 238, 46)
}

.ForumurileMele-statusButton-Deschis:hover {
  box-shadow: 0 4px 10px rgba(84, 238, 46,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-statusButton-Inchis {
  color: rgb(238,46,49)
}

.ForumurileMele-statusButton-Inchis:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-btn-Inapoi {
  padding: 10px 15px;
  margin: 10px;
  border: 2px solid #090C08;
  border-radius: 15px;
  background-color: #FFFBFE;
  color: #090C08;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.ForumurileMele-btn-Inapoi:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  transform: translateY(-3px);
}

.ForumurileMele-cancelButton {
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #090C08;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #090C08;
  color: #FFFBFE;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-saveButton {
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #090C08;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #090C08;
  color: #FFFBFE;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(84, 238, 46, 0.6);
}

.ForumurileMele-saveButton:hover {
  box-shadow: 0 4px 10px rgba(84, 238, 46, 0.9);
  color: rgb(84, 238, 46);
  transform: translateY(-3px);
}

.ForumurileMele-changeTitleButton:hover,
.ForumurileMele-statusButton:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-cancelButton:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  color: rgb(238,46,49);
  transform: translateY(-3px);
}

.ForumurileMele-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.ForumurileMele-prevButton,
.ForumurileMele-nextButton {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #090C08;
  border-radius: 15px;
  background-color: #FFFBFE;
  color: #090C08;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238,46,49,0.6);
}

.ForumurileMele-prevButton:hover,
.ForumurileMele-nextButton:hover {
  box-shadow: 0 4px 10px rgba(238,46,49,0.9);
  transform: translateY(-3px);
}

.ForumurileMele-pageInfo {
  font-size: 1rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .ForumurileMele-container {
    width: 95%;
    padding: 20px;
  }
  .ForumurileMele-forumsList {
    gap: 15px;
  }
  .ForumurileMele-forumCard {
    padding: 15px;
  }
  .ForumurileMele-pagination {
    flex-direction: column;
    gap: 10px;
  }
  .ForumurileMele-prevButton,
  .ForumurileMele-nextButton {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .ForumurileMele-pagination {
    gap: 5px;
  }
  .ForumurileMele-prevButton,
  .ForumurileMele-nextButton {
    padding: 8px 15px;
  }
}
