server/db/init/dump.sql
server/.env
server/db.zip
recommender/.env
recommender/.env.docker
recommender/vectorstore.zip
recommender/vectorstore/chroma.sqlite3
recommender/vectorstore/1c9973fd-a427-46ff-8339-f58a25785ab9/data_level0.bin
recommender/vectorstore/1c9973fd-a427-46ff-8339-f58a25785ab9/header.bin
recommender/vectorstore/1c9973fd-a427-46ff-8339-f58a25785ab9/index_metadata.pickle
recommender/vectorstore/1c9973fd-a427-46ff-8339-f58a25785ab9/length.bin
recommender/vectorstore/1c9973fd-a427-46ff-8339-f58a25785ab9/link_lists.bin
client/.env
recommender/.env.docker
