*,
*::before,
*::after {
  box-sizing: border-box;
}

.cauta-filtre-container {
  padding: 20px;
  border-radius: 8px;
  background-color: #FFFBFE;
  color: #090C08;
}

.cauta-filtre-container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #090C08;
}

.filtru-gen {
  margin-bottom: 15px;
}

.gen-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.1rem;
  color: #090C08;
}

.sageta {
  transition: transform 0.3s;
}

.sageta.rotated {
  transform: rotate(180deg);
}

.genuri-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.genuri-tabel {
  width: 100%;
  border-collapse: collapse;
}

.genuri-container::-webkit-scrollbar {
  display: none;
}

.genuri-tabel td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.gen-select {
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.gen-select:hover {
  color: #EE2E31;
}

.gen-select.selectat {
  color: green;
}

.filtru-pret {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.filtru-pret label {
  font-size: 1rem;
  color: #090C08;
}

.pret-inputs {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.pret-inputs input {
  padding: 8px;
  width: 80px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #007BFF;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(238, 46, 49, 0.6);
}

.pret-inputs input:hover {
  box-shadow: 0 4px 10px rgba(238, 46, 49, 0.9);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .cauta-filtre-container {
    padding: 10px;
  }

  .cauta-filtre-container h2 {
    margin-bottom: 10px;
  }

  .gen-header {
    font-size: 1rem;
    padding: 5px 0;
  }

  .genuri-tabel td {
    padding: 5px;
    font-size: 0.9rem;
  }

  .filtru-pret {
    padding: 10px;
  }

  .filtru-pret label {
    font-size: 0.9rem;
  }

  .pret-inputs input {
    width: 60px;
    padding: 6px;
    font-size: 0.9rem;
  }

  .genuri-container {
    max-height: 300px;
  }
}
