
.DashboardRaportDetails-main-container {
    background-color: #FFFBFE;
    border: 2px solid #090C08;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(238,46,49,0.6);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Dashboard-p {
    font-size: 1rem;
    color: #090C08;
    margin: 0;
}

.Dashboard-buton {
    padding: 10px 15px;
    border: 2px solid #090C08;
    border-radius: 15px;
    background-color: #FFFBFE;
    color: #090C08;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(238,46,49,0.6);
    margin-top: 10px;
}

.Dashboard-buton:hover {
    box-shadow: 0 4px 10px rgba(238,46,49,0.9);
    transform: translateY(-3px);
}

.Dashboard-image {
    max-width: 70%;
    padding: 12px;
    border: 2px solid #090C08;
    border-radius: 15px;
    background-color: #FFFBFE;
    box-shadow: 0 2px 5px rgba(238, 46, 49, 0.6);
    word-break: break-word;
}

@media screen and (max-width: 768px) {
    .DashboardRaportDetails-main-container {
        padding: 15px;
    }
    
    .Dashboard-p {
        font-size: 0.9rem;
    }
    
    .Dashboard-buton {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}
