.book-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 220px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #FFFBFE; /* Soft background color */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.book-main-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
    transform: translateY(-2px); /* Lift the card slightly on hover */
}

.image-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.bookImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.titlu {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    color: #090C08; /* Dark text color for title */
}

.autor {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
    color: #090C08; /* Dark text color for author */
}

.pret {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #EE2E31; /* Red color for price */
}

.book-main-container .details-container p {
    margin: 0;
}

.book-main-container .details-container .autor,
.book-main-container .details-container .pret {
    text-align: center;
}

@media (max-width: 768px) {
    .container-rezultate {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 5px;
        justify-items: center;
    }

    .book-main-container {
        max-width: 120px;
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
    }

    .image-container {
        height: 160px;
    }

    .titlu {
        font-size: 12px;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
        text-align: center;
        word-wrap: break-word;
    }

    .autor {
        font-size: 10px;
    }

    .pret {
        font-size: 12px;
    }
}
