.preferinte-container {
    width: 20vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.preferinte-table-container {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: none;

}

.tabel-preferinte {
    width: 100%;
    border-collapse: collapse;
    overflow-x: none;
}

.tr-preferinte {
    height: 40px;
}

.th-preferinte, .td-preferinte {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
}

.preferinta {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
    min-width: 100px; /* Ensure buttons are wide enough to fit the text */
    white-space: nowrap;
    border: 2px solid; /* Add border */
}

.preferinta:hover {
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
}

.preferinta.prefer {
    border-color: #4CAF50; /* Green border for Prefer */
    color: #4CAF50; /* Green text for Prefer */
}

.preferinta.nu-prefer {
    border-color: #EE2E31; /* Red border for Nu prefer */
    color: #EE2E31; /* Red text for Nu prefer */
}

.buton-preferinte {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #090C08;
    border-radius: 8px;
    background-color: #FFFBFE;
    color: #090C08;
    margin: 10px;
    transition: all 0.3s ease;
    min-width: 130px; /* Slightly wider button */
    text-align: center;
}

.buton-preferinte:hover {
    background-color: transparent;
    color: #EE2E31;
    border-color: #EE2E31;
    box-shadow: 0 8px 12px rgba(238, 46, 49, 0.6);
}

.buton-Actualizeaza {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #090C08;
    border-radius: 8px;
    background-color: #FFFBFE;
    color: #090C08;
    margin: 10px;
    transition: all 0.3s ease;
    min-width: 130px; /* Slightly wider button */
    text-align: center;
}

.buton-Actualizeaza:hover {
    color: #4CAF50;
    border-color: #4CAF50;
    box-shadow: 0 8px 12px #4CAF50;
}

@media only screen and (max-width: 768px) {
    .preferinte-container {
        height: 60vh;  /* Adjusted height for smaller screens */
        padding: 10px;
    }

    .preferinte-table-container {
        max-height: 180px; /* Increase table height for mobile */
        overflow-y: auto;
    }

    .tabel-preferinte {
        font-size: 12px;
    }

    .th-preferinte,
    .td-preferinte {
        padding: 6px;
        font-size: 12px;
    }

    .preferinta {
        padding: 6px 10px;
        font-size: 12px;
    }

    .buton-preferinte {
        padding: 8px 16px;
        font-size: 14px;
        margin: 5px;
        min-width: 140px; /* Slightly wider button for mobile */
    }
}
