fastapi~=0.115.12
pydantic~=2.11.4
langchain~=0.3.25
pandas~=2.2.3
SQLAlchemy~=2.0.40
python-dotenv~=1.1.0
pydantic-settings~=2.9.1
pip~=23.2.1
typing_extensions~=4.13.2
attrs~=25.3.0
distro~=1.9.0
protobuf~=5.29.4
cryptography~=45.0.0
filelock~=3.18.0
requests~=2.32.3
setuptools~=80.4.0
certifi~=2025.4.26
h2~=4.2.0
urllib3~=2.4.0
idna~=3.10
charset-normalizer~=3.4.2
packaging~=24.2
path~=17.1.0
zipp~=3.21.0
build~=1.2.2.post1
Pygments~=2.19.1
PyJWT~=2.10.1
uvicorn[standard]
mysql-connector-python>=8.0
langchain-community
openai
chromadb
tiktoken