.RaportareButton-ReportButton, .RaportareButton-CancelButton, .RaportareButon-showButton  {
    color:#090C08;
    padding: 4px 5px;
    font-size: 0.8rem;
    cursor: pointer;
    border: 2px solid #090C08;
    border-radius: 10px;
    margin-right: 2px;
    margin-top: 2px;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.RaportareButton-CancelButton:hover{
    box-shadow: 0 4px 10px rgba(84, 238, 46,0.9);
    transform: translateY(-3px);
}

.RaportareButton-ReportButton:hover{
    box-shadow: 0 4px 10px rgba(238,46,49,0.9);
    transform: translateY(-3px);
}

.RaportareButon-showButton:hover{
    color:rgba(238,46,49,0.9)
}

.RaportareButon-showButton:disabled{
    display: none;
}

